body { background-color: blanchedalmond	}
p.brGreen {outline: green solid 15px; margin: auto; width: 85%; padding: 5px; text-align: center; }
center.cenBlack {outline: black solid 10px; margin: auto; height:95% ; width: 45%; padding: 5px; text-align: center; }
.topright {
    position: absolute;
    bottem: 8px;
    right: 16px;
    font-size: 18px;
  }
