body { background-color: blanchedalmond	}
p.brGreen {outline: green solid 15px; margin: auto; width: 85%; padding: 5px; text-align: center; }
center.cenBlack {outline: black solid 10px; margin: auto; height:95% ; width: 45%; padding: 5px; text-align: center; }
.topright {
    position: absolute;
    bottem: 8px;
    right: 16px;
    font-size: 18px;
}
code{
    background-color: #eee;
    border: 5px solid #666;
    display: block;
    padding: 10px;
}
.styled-table {
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
     }
    .styled-table thead tr {
      background-color: #009879;
      color: #ffffff;
      text-align: left;
    }
    .styled-table th,
    .styled-table td {
      padding: 12px 15px;
    }
    .styled-table tbody tr {
      border-bottom: 1px solid #dddddd;
    }
    .styled-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }
    .styled-table tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
    }
    .styled-table tbody tr.active-row {
      font-weight: bold;
      color: #009879;
    }
